@model AspNetCoreTemplate.Models.BudgetActe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Admin/template/_Content.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BudgetActe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeActe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeActe.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
