@model IEnumerable<AspNetCoreTemplate.Models.FacturePatient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Employer/template/_Content.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Nom)
            </td>
            <td>
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Details<i class="b1 bi-apple"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Acte" asp-action="Index" asp-route-idFacture="@item.Id" class="btn btn-warning dropdown-item" asp-route-idEvent="@item.Id">Acte Details</a></li>
                    </ul>
                </div> |
                
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
